<div class="component-root">
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Имя" [(ngModel)]="teacher.user.firstName">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Фамилия" [(ngModel)]="teacher.user.lastName">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="teacher.user.username">
    </mat-form-field>

    <button mat-icon-button (click)="onUpdate()" color="primary">
      <mat-icon>done</mat-icon>
    </button>

    <button mat-button="" color="primary" (click)="openSendMessageDialog()">Написать сообщение</button>
  </mat-card>

  <all-tsi *ngIf="teacher.id !== undefined" [id]="teacher.id"></all-tsi>

</div>
