<div class="component-root">
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Имя" [(ngModel)]="director.user.firstName">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Фамилия" [(ngModel)]="director.user.lastName">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="director.user.username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Колледж" [(ngModel)]="director.college">
        <mat-option *ngFor="let c of colleges" [value]="c">
          {{ c.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="onDirectorUpdate()" color="primary">
      <mat-icon>done</mat-icon>
    </button>

    <button mat-button="" color="primary" (click)="openSendMessageDialog()">Написать сообщение</button>

  </mat-card>
</div>
