<div class="component-root">
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Номер группы" [(ngModel)]="group.number">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Специальность" [(ngModel)]="group.specialty">
        <mat-option *ngFor="let s of specialties" [value]="s">
          {{ s.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="onUpdate()" color="primary">
      <mat-icon>done</mat-icon>
    </button>
  </mat-card>

  <all-subGroups [groupId]="group.id"></all-subGroups>
  <all-semesters [groupId]="group.id"></all-semesters>
  <all-tsi [id]="group.id"></all-tsi>
</div>
