/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.table {
  min-width: 80%;
  max-height: 500px;
  margin: auto;
}

.component-root {
  margin-top: 20px;
  padding: 20px;
}

.login-form {
  margin: 200px auto auto;
  max-width: 20%;
}

/*#marks-table {*/

/*}*/

/*#marks-table td {*/
/*width: 150px;*/
/*}*/

/*#marks-table td input {*/
/*border: 0;*/
/*width: 150px;*/
/*}*/

.student_row {
  border: black 1px solid;
  color: white;
  background-color: #616161;
  padding: 5px 0;
  padding-left: 5px;
}

.mark_cell {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
}

.date_cell {
  max-width: 40px;
  background-color: #616161;
  color: white;
  border-right: white 1px solid;
  border-bottom: white 1px solid;
}

.month_cell {
  background-color: #616161;
  color: white;
  border-right: white 1px solid;
  border-bottom: white 1px solid;
}

.zui-table {
  border-spacing: 0;
}

.zui-table tbody td {
  height: 30px;
  padding: 0;
  width: 40px;
  text-align: center;
  margin: 0;
}

.zui-table tbody td input {
  width: 40px;
  height: 40px;
  margin: 0;
  border: 0;
  padding: 0;
}

.zui-wrapper {
  position: relative;
}

.zui-scroller {
  margin-left: 20%;
  overflow-x: scroll;
  width: 80%;
}

.zui-table .zui-sticky-col {
  text-align: left;
  left: 0;
  position: absolute;
  width: 19%;
  height: 30px;
}
