<mat-toolbar style="margin-top: 8px;">
  <button mat-button [routerLink]="['../../../teachers']" [queryParams]="{collegeId: college.id}">Преподаватели</button>
</mat-toolbar>

<div class="component-root">
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Название колледжа" [(ngModel)]="college.name">
    </mat-form-field>

    <button mat-icon-button (click)="onUpdate()" color="primary">
      <mat-icon>done</mat-icon>
    </button>
  </mat-card>

  <all-specialties [collegeId]="college.id"></all-specialties>
</div>
